.productsContainer {
    width: 70%;
    margin: 0 auto;
}

.header{
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.productsCatalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    border-radius: 10px;
}

.price {
    color: #333;
    font-size: 1.2em;
}

.addBtn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.addBtn:hover {
    background-color: #218838;
}